apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: shop-platform-ingress
  namespace: shop-platform
spec:
  rules:
    - http:
        paths:
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: auth-service
                port:
                  number: 4000

          - path: /products
            pathType: Prefix
            backend:
              service:
                name: product-service
                port:
                  number: 5000

          - path: /cart
            pathType: Prefix
            backend:
              service:
                name: cart-service
                port:
                  number: 6001

          - path: /orders
            pathType: Prefix
            backend:
              service:
                name: order-service
                port:
                  number: 7000

          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
